<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <title>House Price Prediction</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>

  <body>
        
    <!-- Navigation Section Begins -->
    <div class="navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for ('index') }}">Overview</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <!-- List of items in the Navigation section -->
          <ul class="navbar-nav">
            
            <!-- Analysis Methodology in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('methodology') }}">Methodology</a>
            </li>

            <!-- Exploratory data Analysis in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('analysis') }}">Data Exploration</a>
            </li>
            
            <!-- Dashboard in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('dashboard') }}">Dashboard</a>
            </li>

            <!-- Visualizations DropDown Menu in the Navigation Section -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              House Price Predictions
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for ('prediction1bdr') }}">1 Bedroom House Prices</a>
                <a class="dropdown-item" href="{{ url_for ('prediction2bdr') }}">2 Bedroom House Prices</a>
                <a class="dropdown-item" href="{{ url_for ('prediction3bdr') }}">3 Bedroom House Prices</a>
                <a class="dropdown-item" href="{{ url_for ('prediction4bdr') }}">4 Bedroom House Prices</a>
              </div>
            </li>

            <!-- Conclusions in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('conclusions') }}">Conclusions</a>
            </li>

            <!-- Acknowledgements in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('acknowledgements') }}">Acknowledgements</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Navigation Section Ends -->

    <!--Content section begins-->
    <div class="container">
        <!-- Row 1 section begins -->
        <div class="row">
          <!-- Boxed content begins -->
          <div class="box">
            <h4 class="title">Questioning the Real Estate Mantra: Location, Location, Location.</h4>
            <p class="text-justify">When it comes to real estate, every realtor, house-hunter and HGTV show host says that <strong>Location</strong> is the most important factor effecting a home's value.</p>
            <p class="text-justify">Through this project, the <em>Machine Learning Enthusiasts</em> attempt to study this crucial aspect of real estate!</p>

            <h5>How is the value of a house determined?</h5>
            <p class="text-justify">Just like a stock on an exchange, houses have fluctuating values. The initial price of a house is based on the following factors:</p>
            <ul>
              <li>Value of the land at the time of purchase</li>
              <li>Cost of the construction of the house and</li>
              <li>A percentage of markup for profit for the builder</li>
            </ul>
            <p class="text-justify">The house values then change based on the value of the properties around it, and the commercial and recreational activities that develop nearby.            
            These changes are based on supply & demand - Prices go up when there is a high demand but an insufficient supply. Some factors effecting demand for houses are:</p>
            <ul>
              <li><u>Lifestyle & Land:</u> Homes near lakes, oceans, rivers and parks offering great views and outdoor recreational opportunities are highly sought after.</li>
              <li><u>Schools:</u> Home buyers are concerned about their childrens education and will often pay more for a home that is located in a school district with a good rating.</li>
              <li><u>Crime rate: </u> Buyers prefer safer neighbourhoods with lower crime rates.</li>
            </ul>

            <h5>Project Goal</h5>
            <p class="text-justify">This project attempts to explore the effect of location on 1-4 bedroom house prices based on socio-economic factors in cities across North Carolina using machine learning algorithms.
              This analysis focuses on factors that define the location of the house, such as local Population, Poverty Rate, Median Houselhold Income and Public Schools. 
              Specific house features have not been included in the analysis so as to focus on the impact of location alone. This site provides information about the data, tools and results of this analysis.</p>
            
            <h5>Datasets Used for Analysis</h5>
                <ul>
                  <li><a href="https://www.zillow.com/research/data/">Zillow: </a>Median House Prices (USD) based on Zillow Home Value Index (ZHVI) for single family residences (1-4 bedrooms) (1996-2020)</li>
                  <li><a href="https://github.com/datamade/census ">Census Data: </a>Population, Poverty Rate, and Median Household Income (USD) (2018)</li>
                  <li><a href="https://hifld-geoplatform.opendata.arcgis.com/datasets/87376bdb0cb3490cbda39935626f6604_0">HIFLD Schools Data: </a>All Public, K-12 schools data (2017-2018)</li>
                </ul>
          </div>
          <!-- Boxed content ends -->
        </div>
        <!-- Row 1 section ends -->
      </div>
      <!--Content section ends-->
      <br>
      <br>

    <!-- Footer Section Begins-->
    <footer>
      <div class="footer">Copyright &copy; Machine Learning Enthusiasts 2020</div>
    </footer>
    <!-- Footer Section Ends-->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>