<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <title>Analysis Methodology</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>

  <body>
    <!-- Navigation Section Begins -->
    <div class="navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for ('index') }}">Overview</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <!-- List of items in the Navigation section -->
          <ul class="navbar-nav">
            <!-- Dashboard in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('dashboard') }}">Dashboard</a>
            </li>
            
            <!-- Exploratory data Analysis in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('analysis') }}">Exploratory Analysis</a>
            </li>

            <!-- Visualizations DropDown Menu in the Navigation Section -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              House Price Predictions
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for ('prediction1bdr') }}">1 Bedroom House Prices</a>
                <a class="dropdown-item" href="{{ url_for ('prediction2bdr') }}">2 Bedroom House Prices</a>
                <a class="dropdown-item" href="{{ url_for ('prediction3bdr') }}">3 Bedroom House Prices</a>
                <a class="dropdown-item" href="{{ url_for ('prediction4bdr') }}">4 Bedroom House Prices</a>
              </div>
            </li>

            <!-- Analysis Methodology in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('methodology') }}">Methodology</a>
            </li>

            <!-- Acknowledgements in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('acknowledgements') }}">Acknowledgements</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Navigation Section Ends -->
      
    <!--Content Section Begins-->
    <div class="container">
      <!-- Web app explanation begins-->
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Flask Web Application</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Web application is deployed on Heroku: <a href="https://waghrayrashi-houseprices.herokuapp.com/">https://waghrayrashi-houseprices.herokuapp.com/</a></td>
          </tr>
          <tr>
            <td scope="col">Source code is available on Github: <a href="https://github.com/waghrayrashi/housepriceprediction">https://github.com/waghrayrashi/housepriceprediction</a></td>
          </tr>
        </tbody>
      </table>
      <!-- Web app explanation ends-->
      <!-- Datasource explanation begins-->
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Data Sources</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">The data for this analysis was sourced from the following sources:</td>
          </tr>
          <tr>
            <td scope="row"><a href="https://www.zillow.com/research/data/">Zillow: </a>Median House prices ($) based on Zillow Home Value Index (ZHVI) for single family residences (1-4 bedrooms)</td>
          </tr>
          <tr>
            <td scope="row"><a href="https://github.com/datamade/census ">Census Data: </a>Population, Poverty Rate, and Median Household Income ($)</td>
          </tr>
          <tr>
            <td scope="row"><a href="https://hifld-geoplatform.opendata.arcgis.com/datasets/87376bdb0cb3490cbda39935626f6604_0">HIFLD Schools Data: </a>Feature dataset of all Public, K-12 schools (2017-2018)</td>
          </tr>

        </tbody>
      </table>
      <!-- Datasource explanation ends-->
      <!-- ETL explanation begins-->
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">ETL Processes Employed for Anlaysis</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Filtered, grouped and performed aggregations on relevant attributes using Pandas</td>
          </tr>
          <tr>
            <td scope="row">Changed datatypes of relevant attributes</td>
          </tr>
          <tr>
            <td scope="row">Deleted null values from analysis</td>
          </tr>
        </tbody>
      </table>
      <!-- ETL explanation ends-->
      <!-- Data analysis explanation begins-->
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Exploratory & Predictive Analysis using Tableau Public & Python Libraries (Pandas, Scikit-learn, Matplotlib, Numpy)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Identified trends in house prices across North Carolina</td>
          </tr>
          <tr>
            <td scope="row">Identified correlations between various features effecting house prices</td>
          </tr>
          <tr>
            <td scope="row">Explored the relationship between income, poverty rate, number of public schools and Median House Prices</td>
          </tr>
          <tr>
            <td scope="row">Predicted house pricies with Linear Regression using Scikit-learn and matplotlib</td>
          </tr>
          <tr>
            <td scope="row">Created multiple, static and dynamic visualizations using Tableau Public</td>
          </tr>
        </tbody>
      </table>
      <!-- Data analysis explanation ends-->
      <br>
      <br>
    </div>
    <!-- Content Section ends -->
    
    <!-- Footer Section Begins-->
    <footer>
        <div class="footer">Copyright &copy; Machine Learning Enthusiasts 2020</div>
    </footer>
    <!-- Footer Section Ends-->
    
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body> 
</html>