<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <title>Dashboard</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>

  <body>
    
    <!-- Navigation Section Begins -->
    <div class="navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for ('index') }}">Overview</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <!-- List of items in the Navigation section -->
          <ul class="navbar-nav">
            
            <!-- Exploratory data Analysis in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('analysis') }}">Data Exploration</a>
            </li>
            
            <!-- Dashboard in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('dashboard') }}">Dashboard</a>
            </li>

            <!-- Visualizations DropDown Menu in the Navigation Section -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              House Price Predictions
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for ('prediction1bdr') }}">1 Bedroom House Prices</a>
                <a class="dropdown-item" href="{{ url_for ('prediction2bdr') }}">2 Bedroom House Prices</a>
                <a class="dropdown-item" href="{{ url_for ('prediction3bdr') }}">3 Bedroom House Prices</a>
                <a class="dropdown-item" href="{{ url_for ('prediction4bdr') }}">4 Bedroom House Prices</a>
              </div>
            </li>

            <!-- Conclusions in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('conclusions') }}">Conclusions</a>
            </li>

            <!-- Analysis Methodology in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('methodology') }}">Methodology</a>
            </li>

            <!-- Acknowledgements in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('acknowledgements') }}">Acknowledgements</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Navigation Section Ends -->

    <!-- Content Section Begins -->
    <div class="container" style="padding-bottom: 40px;">
      <!-- Row 1 for 2 plots begins -->
      <div class="row">
        <div class="col-lg-6">
          <div class="title">Two Bedroom House Prices in North Carolina</div>
            <p>R-Square = .</p>
        </div>

        <div class="col-lg-6">
          <div class="title"></div>
            <img class="panel" id="activeimage" src="./static/images/LinearRegression_2bdr.png" alt="2 Bedroom house price prediction"width="500px", height="300px">
            </a>
        </div>
      </div>
      <!-- Row 1 for plots 1 & 2 begins -->
    
      <!-- Footer Section begins -->
    <footer>
        <div class="footer">Copyright &copy; Machine Learning Enthusiasts 2020</div>
    </footer>
    <!-- Footer Section begins -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>