<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <title>4 BDR House Price Prediction</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>

  <body>
    
    <!-- Navigation Section Begins -->
    <div class="navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for ('index') }}">Overview</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <!-- List of items in the Navigation section -->
          <ul class="navbar-nav">
            
            <!-- Exploratory data Analysis in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('analysis') }}">Data Exploration</a>
            </li>
            
            <!-- Dashboard in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('dashboard') }}">Dashboard</a>
            </li>

            <!-- Visualizations DropDown Menu in the Navigation Section -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              House Price Predictions
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for ('prediction1bdr') }}">1 Bedroom House Prices</a>
                <a class="dropdown-item" href="{{ url_for ('prediction2bdr') }}">2 Bedroom House Prices</a>
                <a class="dropdown-item" href="{{ url_for ('prediction3bdr') }}">3 Bedroom House Prices</a>
                <a class="dropdown-item" href="{{ url_for ('prediction4bdr') }}">4 Bedroom House Prices</a>
              </div>
            </li>

            <!-- Conclusions in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('conclusions') }}">Conclusions</a>
            </li>

            <!-- Analysis Methodology in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('methodology') }}">Methodology</a>
            </li>

            <!-- Acknowledgements in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('acknowledgements') }}">Acknowledgements</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Navigation Section Ends -->

    <!-- Content Section Begins -->
    <div class="container">
      <!-- Row 1 begins -->
      <div class="row">
        <div class="box" width = "1200">
          <h3 class="title">Prediction of 4-Bedroom House Prices in North Carolina</h3>
            <br>

          <h5>I. EXPLORE THE DISTRIBUTION OF HOUSE PRICES</h5>
          <p>We begin our exploration by studying the normal distribution of house prices.</p>
            <figure class="figure">
              <!-- <img class="panel" id="activeimage" src="./static/images/PriceDistribution_1bdr.png" alt="Price Distribution (1 BDR)"width="500px", height="300px"> -->
              <img class="figure-img img-fluid rounded" id="activeimage" src="./static/images/PriceDistribution_4bdr.png" alt="Price Distribution (4 BDR)"width="500px", height="300px">
              <figcaption class="figure-caption text-center">House Price Distribution (4 BDR)</figcaption>
            </figure>
            <ul>
              <li>Based on the above histogram, the House prices have a positive skew with higher concentration on cheaper homes.</li>
              <li>The logarithm of house prices could give a more symmetrical distribution.</li>
              <ul>
                <li>Skew (Normal Distribution) = 2.83</li>
                <li>Kurtosis (Normal Distribution) = 15.90</li>
              </ul>
            </ul>
<br>
            <figure class="figure">
              <!-- <img class="panel" id="activeimage" src="./static/images/LogPriceDistribution_1bdr.png" alt="Log. Price Distribution (1 BDR)"width="500px", height="300px"> -->
              <img class="figure-img img-fluid rounded" id="activeimage" src="./static/images/LogPriceDistribution_4bdr.png" alt="Log. Price Distribution (4 BDR)"width="500px", height="300px">
              <figcaption class="figure-caption text-center">Logarithmic House Price Distribution (4 BDR)</figcaption>
            </figure>
              <ul>
                <li>Taking the logarithm of house prices, we obtain something similar to a Gaussian distribution.</li>
                <li>This logarithmic distribution will ensure that relative errors for cheaper and more expensive homes are treated on an equal footing.</li>
              <ul>
                <li>Skew (Logarithmic Distribution) = 0.153</li>
                <li>Kurtosis (Logarithmic Distribution) = 0.76</li>
              </ul>
            </ul>

          <h5>II. MEASURE THE LINEAR RELATIONSHIP BETWEEN THE PREDICTOR VARIABLES</h5>
          <p>Now moving on to exploring the predictor variables and their relationship with house prices. There are 6 variables used to define the features of the location of the houses: </p>
          <ul>
            <li>City (Categorical)</li>
            <li>Zipcode (Categorical)</li>
            <li>Population per zipcode (Numerical)</li>
            <li>Median Household Income per zipcode (Numerical)</li>
            <li>Poverty Rate per zipcode (Numerical)</li>
            <li>Number of Public Schoolsper zipcode (Numerical)</li>
          </ul>
          <p>An important point in selecting predictors for a linear regression model is to check for multicolinearity. <strong>Multicolinearity</strong> occurs when a 
            set of predictors are very highly correlated - in other words, they mean the same thing when used in the prediction model and hence these feature pairs can affect the model. 
          A Correlation Matrix is used to study the correlation between these variables.</p>
            <figure class="figure">
            <!-- <img class="panel" id="activeimage" src="./static/images/Correlation Matrix_1bdr.png" alt="Correlation Matrix (1 BDR)"width="500px", height="300px"> -->
            <img class="figure-img img-fluid rounded" id="activeimage" src="./static/images/Correlation Matrix_4bdr.png" alt="Correlation Matrix (4 BDR)"width="500px", height="300px">
            <figcaption class="figure-caption text-center">Correlation Matrix (4 BDR)</figcaption>
            </figure>
            <ol>
              <li>The above correlation matrix shows that <em>Population</em> and <em>Number of Schools</em> have a strong positive correlation of 0.81 causing multicolinearity.</li>
              <li>However, due to the limited number of predictors available, none of these predictors were not dropped from the analysis.</li>
            </ol>
          <h5>III. CONVERT CATEGORICAL PREDICTORS TO NUMERIC VALUES</h5>
          <p>Next we convert the categorical predictors to numeric values using OneHotEncoding.
            OneHotEncoding is used to encode each of these variables as a one-hot vector, i.e. a vector where only one element is non-zero, or hot.</p>
            <ul>
            <li>City (Categorical) - values encoded</li>
            <li>Zipcode (Categorical) - values encoded</li>
          </ul>

          <h5>IV. BUILD THE PREDICTION MODEL USING LINEAR REGRESSION</h5>
            <ul>
              <li>Number of Samples:</strong> 502</li>
              <li>Target Variable: Median House Price (USD)</li>
              <li>Total Predictors: 6</li>
              <ul>
                <li>Numerical Predictors: 4</li>
                <li>Categorical Predictors: 2</li>
              </ul>
              <li>Predictors:</Li>
                <ul>
                  <li>City (Categorical)</li>
                  <li>Zipcode (Categorical)</li>
                  <li>Population per zipcode (Numerical)</li>
                  <li>Median Household Income per zipcode (Numerical)</li>
                  <li>Poverty Rate per zipcode (Numerical)</li>
                  <li>Number of Public Schoolsper zipcode (Numerical)</li>
                </ul>
            </ul>
            <!-- <h6>Prediction Model with Normal Distribution of House Prices</h6> -->
            <figure class="figure">
              <!-- <img class="panel" id="activeimage" src="./static/images/LinearRegression_1bdr.png" alt="Prediction (1 BDR)"width="500px", height="300px"> -->
              <img class="figure-img img-fluid rounded" id="activeimage" src="./static/images/LinearRegression_4bdr.png" alt="Prediction (4 BDR)"width="500px", height="300px">
              <figcaption class="figure-caption text-center">Prediction Model (4 BDR) - Normal Distribution</figcaption>
            </figure>
            <!-- <h6>Prediction Model with Logarithmic Distribution of House Prices</h6> -->
            <figure class="figure">
              <!-- <img class="panel" id="activeimage" src="./static/images/LinearRegression_1bdr.png" alt="Prediction (1 BDR)"width="500px", height="300px"> -->
              <img class="figure-img img-fluid rounded" id="activeimage" src="./static/images/LogLinearRegression_4bdr.png" alt="Prediction (4 BDR)"width="500px", height="300px">
              <figcaption class="figure-caption text-center">Prediction Model (4 BDR) - Logarithmic Distribution</figcaption>
            </figure>

          <h5>V. MEASURE THE PERFORMANCE OF THE PREDICTIVE MODEL</h5>
          <h6>Performance Scores</h6>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">House Price Distribution</th>
                  <th scope="col">Training Score (r-square)</th>
                  <th scope="col">Testing Score (r-square)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Normal</th>
                  <td>1.00</td>
                  <td>-1635493.19</td>
                </tr>
                <tr>
                  <th scope="row">Logarithmic</th>
                  <td>1.0</td>
                  <td>-2422017.89</td>
                </tr>
              </tbody>
            </table>

            <p>A predictive line cannot be plotted in a 3D space to validate the performance of this multivariate Linear Regression model. 
              Hence Residuals were calculated and plotted instead.</p>
  
            <p>*Residuals are the difference between the true house prices and the predicted house prices.
                The Residual plot shows that the predictive values are not very close to the zero on the y-axis indicating high residuals.</p>
            <div class = "col-lg-6">
              <!-- <h6>Performance Scores with Normal Distribution</h6> -->
              <figure class="figure">
                <!-- <img class="panel" id="activeimage" src="./static/images/Residual Plot_1bdr.png" alt="Residual Plot (1 BDR)"width="500px", height="300px"> -->
                <img class="figure-img img-fluid rounded" id="activeimage" src="./static/images/Residual Plot_4bdr.png" alt="Residual Plot (4 BDR)"width="500px", height="300px">
                <figcaption class="figure-caption text-center">Residual Plot for Training and Testing Data (4 BDR) - Normal Distribution</figcaption>
              </figure>
            </div>
            <div class = "col-lg-6">
            <!-- <h6>Performance Scores with Logarithmic Distribution</h6> -->
            <figure class="figure">
              <!-- <img class="panel" id="activeimage" src="./static/images/Residual Plot_1bdr.png" alt="Residual Plot (1 BDR)"width="500px", height="300px"> -->
              <img class="figure-img img-fluid rounded" id="activeimage" src="./static/images/LogResidual Plot_4bdr.png" alt="Residual Plot (4 BDR)"width="500px", height="300px">
              <figcaption class="figure-caption text-center">Residual Plot for Training and Testing Data (4 BDR) - Logarithmic Distribution</figcaption>
            </figure>
          </div>

            <h5>VI. CONCLUSIONS</h5>
            <ol>
              <li>The prediction model needs improvement based on the performance measures shown above.</li>
              <li>The model's r-square score of -1635493.19 is astonishing to say teh very least... studying outliers and trying a different kind of regression model may help.</li>
              <li>Multicollinearity could be negatively effecting the model.</li>
            </ol>
            <br>
        </div>
        <!-- Box ends -->
      </div>
      <!-- Row ends -->
    </div>
    <!-- Content Section Ends -->
    
      <!-- Footer Section begins -->
    <footer>
        <div class="footer">Copyright &copy; Machine Learning Enthusiasts 2020</div>
    </footer>
    <!-- Footer Section begins -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>